body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 22px;
}

.product-card {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
