body {
  margin: 0;
  background: black;
  color: #d4af37;
  font-family: serif;
}

.header {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header img {
  height: 140px;
}
/* TOP BAR */
.top-bar {
  background: #000;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.nav-btn {
  background: transparent;
  border: 2px solid #d4af37;
  color: #d4af37;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background: #d4af37;
  color: #000;
}

.header p {
  margin-top: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
